html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden; 
    width: 100%;
    height: 100%;
}

.container {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    min-height: -webkit-fill-available;
    overflow: hidden;
    box-sizing: border-box;

    
}

.area {
    background-color: rgb(101, 92, 92);
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
    box-sizing: border-box;
    width: 22rem;
    height: 30.5rem;
    border-radius: 8px;
}

/* Add this media query to target iPhones */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .container {
        margin-top: -56px;
    }
}

@media only screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) {
    .container {
        margin-top: -56px;
    }
}